<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.test.fasoo.mapper.AuthUserMapper">
    <!-- 권한 생성 -->
    <insert id="createAuthUser" parameterType="com.test.fasoo.dto.AuthUserRequest">
        INSERT INTO auth_user(auth_type_id, user_id, request_id, resource_id, begin_date, expire_date)
        VALUES
            <foreach collection="resourceIdList"  item="resourceId" separator=",">
                (#{authTypeId}, #{userId}, #{requestId}, #{resourceId}, #{beginDate}, #{expireDate})
            </foreach>
    </insert>

    <!-- 권한 생성 후 생성된 목록 조회 -->
    <select id="getAuthByRequestId" parameterType="java.lang.String" resultType="com.test.fasoo.dto.AuthIdDto">
        SELECT id FROM auth_user WHERE request_id = #{requestId}
    </select>


    <!-- 유저 권한 조회 -->
    <select id="getAuthUser" parameterType="java.lang.String" resultType="com.test.fasoo.dto.AuthInfoDto">
        SELECT * FROM auth_user
        WHERE user_id = #{userId}
        AND auth_type_id = #{authTypeId}
        AND resource_id = #{resourceId};
    </select>


    <!-- 권한 정보 업데이트 -->
    <update id="updateAuthUser" parameterType="com.test.fasoo.dto.AuthUserRequest">
        UPDATE auth_user SET
        <foreach collection="resourceIdList" item="resourceId" separator=",">
            request_id = #{requestId},
            begin_date = #{beginDate},
            expire_date = #{expireDate}
            WHERE auth_type_id = #{authTypeId}
            AND user_id = #{userId}
            AND resource_id = #{resourceId}
        </foreach>
    </update>

    <!-- 권한 정보 삭제 -->
    <delete id="deleteAuthUser" parameterType="java.lang.String">
        DELETE FROM auth_user
        WHERE user_id = #{userId}
        AND auth_type_id = #{authTypeId}
        AND resource_id = #{resourceId};
    </delete>


    <!-- 관리자가 유저 권한 목록 조회 -->
    <select id="getUserList" parameterType="java.lang.String" resultType="com.test.fasoo.dto.AuthInfoDto">
        SELECT * FROM auth_user WHERE auth_type_id = #{authTypeId}
        <if test="limit != 0">
            LIMIT #{limit}
        </if>
        <if test="offset != 0">
            OFFSET #{offset}
        </if>
    </select>


    <select id="getUserCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM auth_user WHERE auth_type_id = #{authTypeId}
    </select>


    <!-- 유저가 자신의 권한 목록 조회 -->
    <select id="getAuthList" parameterType="java.lang.String" resultType="com.test.fasoo.dto.AuthInfoDto">
        SELECT * FROM auth_user WHERE user_id = #{userId}
        <if test="limit != 0">
            LIMIT #{limit}
        </if>
        <if test="offset != 0">
            OFFSET #{offset}
        </if>
    </select>

    <select id="getAuthCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) from auth_user WHERE user_id = #{userId};
    </select>
</mapper>