<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.test.fasoo.mapper.AuthUserMapper">
    <!-- 권한 생성 -->
    <insert id="createAuthUser" parameterType="com.test.fasoo.dto.AuthUserRequest">
        INSERT INTO auth_user(auth_type_id, user_id, request_id, data_id, begin_date, expire_date)
        VALUES
            <foreach collection="dataList"  item="data" separator=",">
                ((SELECT id FROM auth_type WHERE auth_type_name = #{authTypeName}), #{userId}, #{requestId}, #{data}, #{beginDate}, #{expireDate})
            </foreach>
    </insert>

    <!-- 권한 생성 후 생성된 목록 조회 -->
    <select id="getCreateAuth" parameterType="java.lang.String" resultType="com.test.fasoo.vo.AuthUser">
        SELECT * FROM auth_user WHERE request_id = #{requestId}
    </select>


    <!-- 유저 권한 조회 -->
    <select id="getAuthUser" parameterType="java.lang.String" resultType="com.test.fasoo.vo.AuthUser">
        SELECT * FROM auth_user u JOIN auth_type t
        ON u.auth_type_id = t.id
        WHERE u.user_id = #{userId}
        AND t.auth_type_Name = #{authTypeName}
        AND u.data_id = #{dataId};
    </select>


    <!-- 권한 정보 업데이트 -->
    <update id="updateAuthUser" parameterType="com.test.fasoo.dto.AuthUserRequest">
        UPDATE auth_user SET
        <foreach collection="dataList" item="data" separator=",">
            request_id = #{requestId},
            begin_date = #{beginDate},
            expire_date = #{expireDate}
            WHERE auth_type_id = (SELECT id FROM auth_type WHERE auth_type_name = #{authTypeName})
            AND user_id = #{userId}
            AND data_id = #{data}
        </foreach>
    </update>

    <!-- 권한 정보 삭제 -->
    <delete id="deleteAuthUser" parameterType="java.lang.String">
        DELETE FROM auth_user
        WHERE user_id = #{userId}
        AND auth_type_id = (SELECT id FROM auth_type WHERE auth_type_name = #{authTypeName})
        AND data_id = #{dataId};
    </delete>


    <!-- 관리자가 유저 권한 목록 조회 -->
    <select id="getUserList" parameterType="java.lang.String" resultType="com.test.fasoo.vo.AuthUser">
        SELECT * FROM auth_user WHERE auth_type_id = (
            SELECT auth_type_id FROM  WHERE
        )
    </select>


    <!-- 유저가 자신의 권한 목록 조회 -->
    <select id="getAuthList" parameterType="java.lang.String" resultType="com.test.fasoo.vo.AuthUser">
        SELECT * FROM auth_user WHERE user_id = #{userId};
    </select>

    <select id="getAuthCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) from auth_user WHERE user_id = #{userId};
    </select>
</mapper>